* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    color: black;
    background-color: rgb(255 252 247);
}

h1,
h2,
h3 {
    font-family: "Jost", sans-serif;
}

main .container {
    width: 86%;
    padding: 5% 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
}

.promocodes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

a {
    font-size: 16px;
    color: rgb(89, 93, 216);
}

.order {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.delivary,
.payment,
.orders {
    display: flex;
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    background-color: #a7aaf052;
    padding: 30px 40px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.delivary .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.delivary .input p {
    color: #0000005a;
    font-size: 12px;
    font-weight: 400;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

label span {
    color: red;
}

input,
select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}

.input .comment {
    padding: 6px 6px 80px;
}

.input .phone {
    width: 250px;
}

input:focus,
select:focus {
    border-color: #0077cc;
    outline: none;
}

.name,
.address {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.option {
    display: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 6px;
    gap: 10px;
    position: relative;
}

input#cash,
input#credit-card,
input#paypal {
    width: 12px;
    height: 12px;
    padding: 6px;
}

.option label {
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.agreement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.terms {
    width: 12px;
    height: 12px;
    margin: 6px;
}

.choose-cards {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.choose-cards button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 50%;
}

.order-button {
    background-color: #F5BEC4;
    padding: 12px;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    width: 40;
}

.option .disabled {
    display: none;
}

.option input:checked~.disabled {
    display: flex;
    padding: 6px 6px 6px 16px;
    font-size: 14px;
    font-weight: 400;
    color: #3333338c;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.buttons button {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: black;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #f5f5f5;
}

.buttons img {
    height: 30px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button:checked {
    border: 1px solid #0077cc;
}

.option input[type="radio"]:checked+label {
    width: 450px;
    margin-bottom: 14px;
}

.orders {
    display: flex;
    flex: 1;
    max-width: calc(100%);
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 26px;
    position: relative;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 26px;
    position: relative;
}

.card {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    height: 500px;
    width: 365px;
    position: relative;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.card-price {
    font-weight: 800;
    font-size: 20px;
    margin: 10px 0;
}

.orders span{
    font-size: 18px;
    font-weight: 600;
}

.weight{
    font-size: 20px;
    font-weight: 800;
}

.important{
    font-size: 22px;
    font-weight: 600;
}

.product {
    background-color: rgb(253, 247, 239);
    height: 180px;
    border-radius: 14px;
    width: 100%;
    display: flex;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

.card-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px black solid;
}


@media (max-width: 1000px) {
    .order {
        flex-direction: column;
        gap: 40px;
    }

    .delivary,
    .payment,
    .orders {
        flex: none;
        max-width: none;
    }
}

@media (max-width: 720px) {
    .products {
        grid-template-columns: none;
    }
}

@media (max-width: 550px) {

    .name,
    .address {
        flex-direction: column;
        gap: 30px;
    }

    .buttons {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .allconditions h1 {
        font-size: 32px;
    }
}

body {
    font-family: "PT Sans", sans-serif;
    color: black;
    background-color: rgb(255 252 247);
}

h1, h2, h3 {
    font-family: "Jost", sans-serif;
}

footer {
    background-color: rgb(166, 169, 240);
    color: black;
    position: relative;
}

footer .container {
    padding: 5% 7%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categories {
    display: flex;
    gap: 140px;
    align-items: flex-start;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category p {
    font-size: 20px;
    font-weight: 600;
}

.category ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category ul li {
    list-style-type: none;
}

.category ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.category:last-child ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

footer .other {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 160px;
}

.footer-photo {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media (max-width: 1200px) {
 .footer-photo {
        display: none;
    }
 .categories {
        justify-content: space-between;
    }
 footer .other {
        gap: 100px;
    }
}

@media (max-width: 960px) {
    .categories {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 .category {
        flex: 0 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
        box-sizing: border-box;
    }
 footer .other {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
 .social-media {
        gap: 10px;
    }
 .wrapper {
        gap: 60px;
    }
}

@media (max-width: 650px) {
    .category, .category ul li, a {
        max-width: 165px;
    }
 .category {
        flex: 0 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .categories {
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
    }
 .category ul {
        gap: 4px;
    }
 .category, .category ul li, a {
        max-width: 220px;
    }
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(166, 169, 240);
    position: relative;
}

header .container {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.for-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pages a {
    width: auto;
    font-size: 18px;
}

.reactions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icons-reactions {
    cursor: pointer;
}

.for-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 960px) {
    .pages a {
        max-width: 85px;
    }
 .reactions {
        gap: 20px;
    }
 .logo img {
        width: 150px;
        height: 60px;
    }
}

@media (max-width: 700px) {
    .logo img {
        width: 100px;
        height: 40px;
    }
 .icons-reactions {
        width: 30px;
        height: 30px;
    }
 .pages {
        gap: 20px;
    }
 .pages a {
        max-width: 65px;
        width: auto;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .logo {
        display: none;
    }
 .pages {
        justify-content: flex-start;
    }
}